@charset "utf-8";
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}
header {
  padding-top: 30px;
  padding-bottom: 0px;
  display: block;
  border: 1px solid pink;
  height: 10vh;
  width: 100vw;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.06);
}
header > #menu {
  margin: 0px 0px -5px 5px;
  display: inline;
  text-align: left;
}
header > #menu:hover {
  cursor: pointer;
  color: rgb(200, 117, 131);
}
header > h1 {
  text-shadow: 1px 1.5px 8px rgba(0, 0, 0, 0.105);
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin: 0px;
  display: inline-block;
  width: 100vw;
  text-align: center;
  font-size: small;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(123, 85, 92);
}
nav {
  align-items: center;
  height: 20px;
  text-align: center;
  margin-top: 5px;
  width: 100vw;
}
nav > a {
  font-size: small;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.556);
  text-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.105);
}
nav > a:hover {
  transition: 0.2s;
  color: rgb(200, 117, 131);
}
nav > a.a2 {
  margin-left: 20px;
}
nav > a.a1 {
  margin-left: 10px;
}
